.delete-alert {
    padding: 20px;
    background-color: #1ec234;
    color: white;
    position: fixed;
    top: 80px;
    width: 300px;
    right: 20px;
    border-radius: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}