.card {
    width: 300px;
    perspective: 1080px;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.card-faces {
    position: relative;
    width: inherit;
    height: 400px;
    transition: all 1s;
    transform-style: preserve-3d;
}

.front-face, .back-face {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
}

.front-face {
    background-image: url(./front.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-power, .card-name {
    text-shadow: 0.15rem 0.15rem 0.1rem black;
    color: #f2f2d7;
}

.card-power {
    font-size: 2rem;
}

.card-name {
    font-size: 2rem;
    text-align: center;
}

.back-face {
    background-image: url(./back.png);
    color: #f2f2d7;
    transform: rotateY(180deg);
}

/*####################################### BUTTON STYLES #######################################*/

.card-buttons {
    display: flex;
    justify-content: space-around;
}

.card-buttons > * {
    flex: 1;
    padding: 0.4rem;
    background-color: #1a120b;;;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    font-size: 1.1rem;
    color: #f2f2d7;
}

.card-button:hover {
    background-color: #f2f2d7;
    color: #0c0805;
}

.card-button:hover svg {
    fill: #0c0805;
}

.card-button svg {
    fill: #f2f2d7;
}