.card {
    width: 300px;
}

.card-faces {
    position: relative;
    width: inherit;
    height: 400px;
}

.front-face, .back-face {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    width: inherit;
    height: inherit;
}

.front-face {
    background-image: url(./front.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-power, .card-name {
    text-shadow: 0.15rem 0.15rem 0.1rem black;
    color: #f2f2d7;
}

.card-power {
    font-size: 2rem;
}

.card-name {
    font-size: 2rem;
    text-align: center;
}

.back-face {
    background-image: url(./back.png);
    color: #f2f2d7;
}

/*####################################### BUTTON STYLES #######################################*/

.card-buttons {
    display: flex;
    justify-content: space-around;
}

.card-buttons > * {
    flex: 1;
    padding: 0.4rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    font-size: 1.1rem;
    color: #f2f2d7;
}

.card-buttons > *:hover {
    background-color: #f2f2d7;
    color: #0c0805;
}